# Personal variables
# Fill with your personal data and place it in path stored in L_ZSH_CONFIG_FILE variable (by default user home)
export PATH_TO_LIFERAY_MAIN=/path/to/directory/where/portal/and/bundles/are/placed
export GITHUB_TOKEN=xxxxxxx
export GITHUB_USER=git-user
export TESTRAY_USER=yourTestrayUserForTestray.py
export MYSQL_USER=root
export MYSQL_PASSWORD=toorroot
export LIFERAY_ACTIVATION_KEY_FILE=/path/to/liferay/activaion/key/activation-key-xxxx.xml